#ignore this file#
*.opensdf
/ComputerSystem/Debug/
/Debug/
*.suo
*.sdf
*.vcxproj
*.filters
*.config
*.csproj

/Microsoft Visual C# 2013 step by step/bin
/Microsoft Visual C# 2013 step by step/obj
/Microsoft Visual C# 2013 step by step/Properties
