#ignore this file#
*.opensdf
*.suo
*.sdf
*.vcxproj
*.filters
*.config
*.csproj

/Debug/
/ComputerSystem/Debug/
/Microsoft Visual Cs 2013 step by step/bin
/Microsoft Visual Cs 2013 step by step/obj
/Microsoft Visual Cs 2013 step by step/Properties
